<SplitViewHorizontal>
  <SplitViewVertical>
    <div>
      {{ivy-codemirror 
	value=codemod.sourceCode 
        options=(hash 
        lineNumbers=true 
        mode=mode 
        theme=theme)
	valueUpdated=(action (mut codemod.sourceCode))
      }}
    </div>
    <div>
      {{ivy-codemirror 
        value=codemod.destCode 
        valueUpdated=(action (mut codemod.destCode))
        options=(hash 
        lineNumbers=true 
        mode=mode 
        theme=theme 
        foldGutter=true)}}
    </div>
  </SplitViewVertical>
  <SplitViewVertical>
    <div>
      {{ivy-codemirror 
        value=transform 
        options=(hash 
        lineNumbers=true 
        mode="javascript" 
        theme=theme 
        autoIndent=true )
     	valueUpdated=(action (mut transform))
      }}
    </div>
    <div>
      {{ivy-codemirror 
        value=output 
        options=(hash 
        lineNumbers=true 
        mode=mode 
        theme=theme 
        autoIndent=true )}}
    </div>
  </SplitViewVertical>
</SplitViewHorizontal>