:root {
  --dark-mode-bg: #333;
  --dark-mode-fg: #eee;
  --dark-mode-border: #444;
  --dark-mode-header-bg: #222;
}

body {
  font-family: sans-serif;
  margin: 0;
}

header {
	display: flex;
  background: #eee;
  border-bottom: 1px solid #ddd;
  height: 50px;
}

header p {
  margin: 0;
  line-height: 50px;
}

header button {
  height: 30px;
  margin:10px;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:disabled {
  opacity: .65;
}
.btn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;
}
.btn-outline-secondary:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-sm {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}

p { 
  margin: .25em 0;
}
h1 {
  margin: .15em 0 0 .25em;
}

nav ul {
  display:flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 10px 0 0 0;
}


nav ul li {
  list-style: none;
  margin:0 10px;
  display:flex;
}

nav ul li a.active {
  background: #000;
  color: #fff;
}

a {
  text-decoration: none;
  padding: .25em;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  background: #eee;
  padding: 5px 0;
  border-top: 1px solid #ddd;
  z-index: 9999;

}
footer p {
  text-align:center;
}

.mode-options {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
}

.parser_wrapper {
  display: flex;
}

.ember-power-select-trigger {
  max-height: 30px;
  margin: 10px;
  width: auto;
}

.label-text {
  line-height: 50px;
}

#options {
  margin-right: 10px;
  display: flex;
}

#options p {
  margin-right: 10px;
  margin-left: 10px;
}


.dark-mode {
  background: var(--dark-mode-bg);
  color: var(--dark-mode-fg);
}
.dark-mode p {
  color: var(--dark-mode-fg);
}

.dark-mode header {
  background: var(--dark-mode-header-bg);
  border-bottom: 1px solid var(--dark-mode-border);
}

.dark-mode a {
  color: wheat;
}

.dark-mode .ember-power-select-option[aria-current="false"] {
  background: var(--dark-mode-bg);
  color: var(--dark-mode-fg);
}

.dark-mode .gutter {
  background-color: var(--dark-mode-border);
}

.dark-mode .ember-power-select-trigger {
  background: var(--dark-mode-border);
}

.dark-mode footer {
  background: var(--dark-mode-header-bg);
  border-top: 1px solid var(--dark-mode-border);
}

.CodeMirror {
  height: 350px;
}

header {
  grid-template-columns: 150px 1fr 350px 300px;
}

.ember-power-select-trigger {
  width: 100px;
}

.split {
		display:flex;
		flex-direction:row
}
.gutter {
		background-color:#eee;
		background-repeat:no-repeat;
		background-position:50%
}
.gutter.gutter-horizontal {
		background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==);
		cursor:col-resize
}
.gutter.gutter-vertical {
		background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==);
		cursor:row-resize
}
#split-0 {
		min-height:calc(100vh - 88px)
}
#split-01 {
		width:100%;
		overflow-y:auto
}
#split-02 {
		width:100%
}
#split-11,
#split-12 {
		width:100%;
		overflow-y:auto
}

.copy-codemod {
		position: absolute;
		top:10px;
		right: 10px;
		z-index: 9999;
}

.copy-codemod button {
		cursor: pointer;
		padding: 0.5em;
}

.pos-relative {
		position: relative;
}

.download-btn {
		background: #222;
		color: white;
		padding: 0.5em 0.75em;
		border: none;
		border-radius: 0.25em;
		cursor: pointer;
}

.download-btn span {
		vertical-align: top;
    margin: 0 2px;
    display: inline-block;
}

.download-btn:hover {
		background: #111;
}
