@import 'normalize.css';

:root {
  --dark-mode-bg: #333;
  --dark-mode-fg: #eee;
  --dark-mode-border: #444;
  --dark-mode-header-bg: #222;
}

body {
  font-family: sans-serif;
}

header {
  display: grid;
  grid-template-columns: 150px 1fr 150px 300px;
  background: #eee;
  border-bottom: 1px solid #ddd;
}

header p {
  margin: 0;
  line-height: 50px;
}

header button {
  height: 30px;
  margin:10px;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:disabled {
	opacity: .65;
}
.btn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;
}
.btn-outline-secondary:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-sm {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}

p { 
  margin: .25em 0;
}
h1 {
    margin: .15em 0 0 .25em;
  }

nav ul {
  display:flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 10px 0 0 0;
}


nav ul li {
  list-style: none;
  margin:0 10px;
  display:flex;
}

nav ul li a.active {
  background: #000;
  color: #fff;
}

a {
  text-decoration: none;
  padding: .25em;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  background: #eee;
  padding: 5px 0;
  border-top: 1px solid #ddd;
  z-index: 9999;

}
footer p {
  text-align:center;
}

.mode-options {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
}

.parser_wrapper {
  display: flex;
}

.ember-power-select-trigger {
  max-height: 30px;
  margin: 10px;
  width: 200px;
}

.label-text {
  line-height: 50px;
}

#options {
  margin-right: 10px;
}


.dark-mode {
  background: var(--dark-mode-bg);
  color: var(--dark-mode-fg);
}
.dark-mode p {
  color: var(--dark-mode-fg);
}

.dark-mode header {
  background: var(--dark-mode-header-bg);
  border-bottom: 1px solid var(--dark-mode-border);
}

.dark-mode a {
  color: wheat;
}

.dark-mode .ember-power-select-option[aria-current="false"] {
  background: var(--dark-mode-bg);
  color: var(--dark-mode-fg);
}

.dark-mode .gutter {
  background-color: var(--dark-mode-border);
}

.dark-mode .ember-power-select-trigger {
  background: var(--dark-mode-border);
}

.dark-mode footer {
  background: var(--dark-mode-header-bg);
  border-top: 1px solid var(--dark-mode-border);
}

.CodeMirror {
  height: 350px;
}



