<div class="copy-codemod">
  <button
    type="button"
    {{on "click" this.copyCodemod}}
    title="Copy to Clipboard"
    aria-label="Copy to Clipboard"
  >

    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      width="20px"
      height="20px"
      viewBox="0 0 32 32"
      version="1.1"
      data-ember-extension="1"
    >
      <title>copy</title>
      <path
        d="M31.218 8.096c-0.008-0.059-0.018-0.112-0.033-0.163l0.002 0.008c-0.052-0.222-0.158-0.414-0.303-0.568l0.001 0.001-6.297-6.296c-0.155-0.146-0.349-0.252-0.564-0.302l-0.008-0.002c-0.042-0.012-0.094-0.023-0.147-0.030l-0.006-0.001c-0.044-0.013-0.098-0.024-0.154-0.031l-0.006-0.001h-9.445c-0.69 0-1.25 0.56-1.25 1.25v0 22.038c0 0.69 0.56 1.25 1.25 1.25h15.742c0.69-0.001 1.249-0.56 1.25-1.25v-15.742c-0.008-0.062-0.019-0.117-0.034-0.171l0.002 0.009zM24.953 4.979l2.029 2.028h-2.029zM15.508 22.75v-19.538h6.945v5.046c0 0.69 0.56 1.25 1.25 1.25h5.047v13.242zM17.742 26.75c-0.69 0-1.25 0.56-1.25 1.25v0.77h-13.242v-19.539h6.75c0.69 0 1.25-0.56 1.25-1.25s-0.56-1.25-1.25-1.25v0h-8c-0.69 0-1.25 0.56-1.25 1.25v0 22.039c0 0.69 0.56 1.25 1.25 1.25h15.742c0.69-0.001 1.249-0.56 1.25-1.25v-2.020c-0.001-0.69-0.56-1.249-1.25-1.25h-0z"
      ></path>
    </svg>

  </button>
</div>