<header>
  <h1>JARVIS</h1>
  <nav>
    <ul>
      <li>
        <a href="https://rajasegar.github.io/ast-builder/">ast-builder</a>
      </li>
      <li>
        <a href="https://rajasegar.github.io/ast-finder/">ast-finder</a>
      </li>
    </ul>
  </nav>
  <div id="options">
    <p>Enable Dark theme: <Input @type="checkbox" @click={{action "toggleDarkMode"}}/></p>
  </div>
</header>
<main>
  {{outlet}}
</main>
<footer>
  <p>
    Built with <a href="https://emberjs.com">Ember.js</a> |
    <a href="https://github.com/rajasegar/jarvis">Github</a> |
    <a href="https://github.com/rajasegar/jarvis/issues">Report issues</a> 
  </p>
</footer>